@model Entities.Concrete.Heading

@{
    ViewBag.Title = "EditHeading";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Başlık Güncelleme Sayfası</h2>

@using (Html.BeginForm("EditHeading", "Heading", FormMethod.Post))
{
    @Html.HiddenFor(h => h.HeadingId, new { @class = "form-control" })

    <div class="form-group mb-3">
        @Html.Label("Başlık Adı")
        @Html.TextBoxFor(h => h.HeadingName, new { @class = "form-control" })
    </div>
    <div class="form-group mb-3">
        @Html.Label("Kategori")
        @Html.DropDownListFor(h => h.CategoryId, (List<SelectListItem>)ViewBag.vlc, new { @class = "form-control" })
    </div>
    <div class="form-group mb-3">
        <button class="btn btn-info">Güncelle</button>
    </div>
}

