@using Entities.Concrete
@model List<Heading>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Başlıklar</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Başlık Adı</th>
            <th>Başlık Tarihi</th>
            <th>Kategori</th>
            <th>Yazar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.HeadingId</th>
                <td>@item.HeadingName</td>
                <td>@Convert.ToDateTime(item.HeadingDate).ToString("dd/MM/yyyy")</td>
                <td>@item.Category.CategoryName</td>
                <td>@item.Writer.WriterName @item.Writer.WriterSurName</td>
            </tr>
        }
    </tbody>
</table>
<br />

<a href="/Heading/AddHeading/" class="btn btn-primary">Yeni Başlık Ekle</a>

